// @import url('https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css');
@import "./font/Gilroy-Bold.css";
@import "./font/Gilroy-Regular.css";

body {
  width: 100%;
  font-family: "Gilroy-Regular", sans-serif;
  background-color: #eaeaea;
}
.bold {
  font-family: "Gilroy-Bold", sans-serif;
}

.App {
  background-color: white;
  display: flex;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  max-width: 750px;

  min-height: 100vh;
  padding: 0 36px;
}
